/*---------------------------------
      Regular Tag and Fonts
-------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* --------------------Header Section ---------------------------- */

/*------------------ Navigation Var ------------------ */

nav {
  height: 44px;
  width: 100%;
  padding-top: 58px;
}
.Nav-container {
  display: flex;
  justify-content: space-around;
}
nav ul {
  display: inline-block;
}
nav ul li {
  display: inline-block;
  margin-right: 60px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.link-button {
  display: flex;
  align-items: center;
}

.log-in-button {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #e02c6d;
  background-color: #e02c6d;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  box-sizing: border-box;
  color: #fff;
  box-shadow: 0px 0px 20px red;
  cursor: pointer;
}
header {
  height: 670px;
  width: 100%;
  background-color: #2d25a0;
  margin-bottom: 65px;
}

.top-blog-title {
  font-size: 60px;
  font-weight: 700;
  margin: 0px;
  color: #ffffff;
  line-height: 80px;
}
.top-blogs-detail {
  display: flex;
}
.top-blog-info {
  /* 
  
  margin-bottom: 240px; */
  margin-left: 135px;
  margin-top: 100px;
}

.top-blog-button {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #e02c6d;
  background-color: #e02c6d;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  box-sizing: border-box;
  color: #fff;
  box-shadow: 0px 0px 20px red;
  cursor: pointer;
}

.top-blog-button:hover i {
  transform: translate(15px, 0);
  padding-right: 3px;
  transition: 0.4s ease;
}
.top-blog-banner {
  /*
  margin-bottom: 86px;
  margin-right: 140px;
  */
  margin-left: 90px;
  margin-top: 80px;
}
.top-blog-banner img {
  width: 556px;
  height: 438px;
}
/*------------------------
    
     Players Profile

------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1050px;
  height: 1977px;
  margin-bottom: 300px;
}
.player-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  background: #ffffff;
}

.players {
  box-shadow: 0px 0px 20px #ccc;
  padding: 15px;
  align-items: center;
}
.players img {
  width: 300px;
  height: 256px;
}
.player-name {
  width: 300px;
  font-weight: 700;
  font-size: 28px;
  margin: 0px;
}
.player-info {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  margin: 0px;
}
/* ---------------------

     Blog Section
          
----------------------- */

.container_2 {
  width: 1102px;
  height: 427px;
}

.blogs {
  display: flex;
}
.blog-detail {
  margin-right: 66px;
  padding: 5px;
}
.blog-title,
.top-blog-title {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.blog-button {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #e02c6d;
  background-color: #e02c6d;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  box-sizing: border-box;
  color: #fff;
  box-shadow: 0px 0px 20px red;
  cursor: pointer;
}
.blog-button:hover i {
  transform: translate(15px, 0);
  padding-right: 3px;
  transition: 0.4s ease;
}

.blog-info {
  margin: 0px;
  margin-bottom: 24px;
}
.blogs img {
  width: 567px;
  height: 427px;
}
/*------------------------

   Footer Style

------------------------ */

.footer-detail {
  text-decoration: none;
  text-align: center;
  margin-top: 100px;
}
.footer-detail img {
  width: 483px;
  height: 110px;
}
.footer-icon {
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-icon ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-icon ul li {
  display: inline-block;
  font-size: 20px;
  width: 32px;
  height: 32px;
  background-color: rgb(11, 12, 23, 0.1);
  margin: 0px 10px;
  border-radius: 50px;
}
.fab {
  color: #ccc;
}
